@using MyEvernote.BusinessLayer.Categories
@using MyEvernote.DTO.Categories
@{
    CategoryService categoryService = new CategoryService();
    List<CategoryListDto> categories = categoryService.GetCategories();
}

<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Tümü</a>
    @foreach (var currentItem in categories)
    {
        <a href="~/Home/NotesByCategory/@currentItem.CategoryId" title="@currentItem.Description" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>@currentItem.Title</a>
        @*<a title="@currentItem.Description" class="list-group-item" onclick="categoryController.displayNotesByCategoryId(@currentItem.Id)"><span class="glyphicon glyphicon-arrow-right"></span>@currentItem.Title</a>*@
    }
</div>

